.upper-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    background: linear-gradient(#e2e2e2 50%, #ffffff 50%);
}

.upper-bar__logo img {
    width: 100px;
    height: 100px;
    display: block;
}

.upper-bar__logo {
    flex: 0.8;
}

.upper-bar__name {
    flex:4; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
}
.upper-bar__menu {
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
}
