main {
    background: none;
    background-color: #ff6470
}


.intro__table__body {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #CCC;
    margin: 20px 10px;
}


.intro__table__body th {
    width: 20vw;
    padding: 20px;
    font-family: 's-core-dream-bold', sans-serif !important;
    color: #2e363e;
    border-bottom: 1px solid #ccc;
}

.intro__table__sub {
    padding: 20px;
    width: 80vw;
    border-bottom: 1px solid #ccc;
}
